.input-success-log {
    color: green;
}
.input-error-log {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
}
form > h2 {
    text-align: center;
}
form > .input,
form > .checkbox {
    display: flex;
    flex-direction: column;
    margin-bottom: .5rem;
    position: relative;
}
form > .input > label {
    position: absolute;
    top: .2rem;
    left: .2rem;
    font-size: .9rem;
    font-weight: bold;
}
form > .input > input {
    padding-top: 1rem;
    padding-left: .5rem;
    height: 2rem;
    border-radius: 5px;
    border: 1px solid #B0B0B0;
}
form > .input > .log {
    
}
form > button {
    height: 3rem;
    font-weight: bold;
    border: 2px solid black;
    width: 70%;
    font-size: 1.1rem;
    align-self: center;
    cursor: pointer;
}
form > p {
    text-align: center;
}
form > p > span {
    font-weight: bold;
    color: black;
    cursor: pointer;
}
form > .checkbox > label {
    font-weight: bold;
    cursor: pointer;
    padding: .2rem;
    border: 1px solid transparent;
}
form > .checkbox > label:hover {
    border: 1px solid black;
    user-select: none;
}
form > .checkbox > label > input {
    cursor: pointer;
}
