@keyframes popUp {
    from {
        transform: scale(.2);
    }
    to {

    }
}
@keyframes popDown {
    from {
    }
    to {
        transform: scale(0);
    }
}
.modal-popDown {
    animation: popDown .3s ease !important;
}
.modal {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(50, 50, 50, .5);
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal > .modal-card-small,
.modal > .modal-card-medium,
.modal > .modal-card-big {
    min-height: min-content;
    width: 80%;
    background-color: #F3F3F3;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
    overflow: hidden;
    animation: popUp .3s ease;
}
.modal .modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
.modal .modal-header > button {
    font-size: 2rem;
    margin-left: 1rem;
    cursor: pointer;
    color: black;
    align-self: flex-start;
    background-color: transparent;
    border: none;
}
.modal .modal-header > h2 {
    margin-top: 0;
}
.modal .modal-header > button:hover {
    color: red;
}
.modal .modal-body {
    background-color: #F3F3F3;
    border-radius: 5px;
    padding: 1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: min-content;
}
.modal > .modal-card-big > .modal-body {
    height: 70vh;
}
.modal .modal-body > button {
    width: 80%;
    height: 2rem;
    margin-bottom: .5rem;
}
.split-buttons {
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.split-buttons > button {
    width: 48%;
    height: 2rem;
    margin-bottom: .5rem;
}
.modal-strong {
    font-weight: bold;
    font-size: 1.2rem;
}
.modal-body h3 {
    color: black;
}
.modal-body a {
    font-weight: bold;
}
.modal-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
a {
    color: var(--primaryColor);
}
a:visited {
    color: var(--primaryColor);
}
.modal-map {
    width: 100%;
    height: 70vh;
    margin-bottom: 1rem;
}
@media(min-width: 768px) {
    .modal > .modal-card-small {
        min-height: min-content;
        width: 25%;
    }
    .modal > .modal-card-medium {
        min-height: min-content;
        width: 40%;
    }
    .modal > .modal-card-big {
        min-height: min-content;
        max-height: 80vh;
        width: 60%;
    }
    .driver-info > span {
        font-size: 1rem;
    }
}
@media(min-width: 426px) and (max-width: 767px) {
    .modal > .modal-card-small {
        min-height: min-content;
        width: 40%;
    }
    .modal > .modal-card-medium {
        min-height: min-content;
        width: 60%;
    }
    .modal > .modal-card-big {
        min-height: min-content;
        width: 80%;
    }
}