.signFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
}
.signFormTitle {
  margin-bottom: 1em;
}
.signFormFooter {
  margin-top: 1em;
}
.signFormFooter > .footerTrigger {
  font-weight: bold;
  cursor: pointer;
}
.backButton {
  margin-right: .5em;
}