:root {
  --main1: white;
  --main2: black;
  --main3: gold;
  --main4: #f3f3f3;
  --main5: #dddddd;
  --main6: #bbbbbb;
  --shadow: #bbbbbb;
  --danger: red;
  --success: green;
  --primary: #2255cc;
}