@import url("../../component/style/global.css");
@import url("../../component/style/navbar.css");
@import url("../../component/style/modal.css");
@import url("../../component/style/form.css");
@import url("../../component/style/alert_me.css");

body {
    background-color: #F3F3F3;
}

.container > h1 {
    text-align: center;
}
.newar {
    margin: 2vw 5vw;
    background-color: #dddddd;
}
.progress {
    display: flex;
    justify-content: stretch;
    width: 100%;
    background-color: #F3F3F3;
}
.progress > span {
    flex-grow: 1;
    padding: .2rem .4rem;
    text-align: center;
    background-color: #8092f8;
    color: white;
    border: 2px solid #F3F3F3;
    font-weight: bold;
    font-size: 1rem;
}
.step {
    padding: 3vw;
}
.step > h2 {
    text-align: center;
    margin: 0;
}
.step-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 85vh;
}
.step-container > div {
    height: 100%;
}
.step-container > .add-image,
.step-container > .mark-image {
    padding: 1rem;
}
#images > .actions {
    display: flex;
    justify-content: flex-end;
}
#images > .step-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}
.step > form > .inputs {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
.step > form > .actions,
.step > .footer > .actions {
    display: flex;
    justify-content: flex-end;
}
.step > .footer {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: flex-end;
}
.step > .actions > button {
    margin-left: .2rem;
}

.progress > span:not(.active) > i {
    display: none;
}
.progress > span.active {
    background-color: #6079FF;
}
.progress > span.active > i {
    display: inline-block;
}
