@import url("../../component/style/global.css");
@import url("../../component/style/navbar.css");
@import url("../../component/style/modal.css");
@import url("../../component/style/form.css");
@import url("../../component/style/alert_me.css");
@import url("../../component/style/advance_search.css");

body {
    background-color: white
}


.container {
    /* DEBE ESTAR EN TODOS */
    padding: 2vw 10vw 5vw 10vw;
}
.container > .loading {
    margin: 2rem;
    display: flex;
    justify-content: center;
}
.container > .loading > i {
    font-size: 3rem;
}

.container > .profile {
    display: grid;
    grid-template-columns: 20% 1fr;
    min-height: 80vh;
}
.container > .profile > *:nth-child(1) {
    background-color: #F2F2F2;
}
.container > .profile > *:nth-child(2) {
    background-color: #E1E1E1;
}
.profile > .navigation > .header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: .5rem;
}
.profile > .navigation > ul {
    list-style-type: none;
    padding: 0;
}
.profile > .navigation > ul button {
    border: none;
    background-color: #C4C4C4;
    margin-bottom: .1rem;
    padding: .5rem;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
}
.profile > .navigation > ul button.active,
.profile > .navigation > ul button:hover {
    background-color: #282828;
    color: white;
}
.navigation > .header > *:nth-child(1) {
    grid-column: 1 / 2;
    background-color: #282828;
    padding: .2rem;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    object-fit: cover;
}
.navigation > .header > *:nth-child(2) {
    grid-column: 2 / 5;
    width: 100%;
    padding-left: 1rem;
    align-self: flex-start;
}
.navigation > .header > *:nth-child(3) {
    grid-column: 1 / 5;
    width: 100%;
    position: relative;
}
.header > .level > p {
    margin-bottom: 0;
    font-weight: bold;
}
.header > .level > meter {
    width: 100%;
}