@import url("../../component/style/global.css");
@import url("../../component/style/navbar.css");
@import url("../../component/style/modal.css");
@import url("../../component/style/form.css");
@import url("../../component/style/alert_me.css");
@import url("../../component/style/advance_search.css");

body {
    background-color: #F3F3F3;
}

.container {
    /* DEBE ESTAR EN TODOS */
    padding: 0 5vw 5vw 5vw;
}
.container > h1 {
    text-align: center;
}
.container > .loading {
    display: flex;
    justify-content: center;
}
.container > .loading > i {
    font-size: 3rem;
}

.container > .header {
    background-color: #F5F5F5;
    margin-bottom: 2rem;
}
.container > .header > img {
    display: block;
    background-color: lightblue;
    height: 10rem;
    width: 100%;
    z-index: -1;
    object-fit: cover;
}
.container > .header > .info {
    position: relative;
    padding: .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.header > .info > .actions {
    justify-self: flex-end;
}
.header > .info > .actions > button {
    outline-offset: 3px;
}
.header > .info > .actions > button.active {
    background-color: black;
    color: white;
}
.header > .info > .more-info > * {
    padding: 0 .5rem;
    background-color: #E7E7E7;
}

.container > .content > .tabs {
    display: block;
    background-color: #DFDFDF;
    padding-left: .5rem;
}
.content > .tabs > button {
    padding: .5rem 1rem;
    background-color: black;
    color: white;
    border: none;
    outline-offset: 3px;
    cursor: pointer;
    border-bottom: 2px solid black;
}
.content > .tabs > button.active {
    background-color: white;
    color: black;
}
.content > .sections {
    min-height: 50vh;
    background-color: white;
    padding: 2rem;
}
#images {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#images > img {
    width: 25%;
    object-fit: cover;
}
#comments {
    padding: 0 5vw;
}
#comments > form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#comments > form > *:nth-child(1) {
    grid-column: 1 / 3;
}
#comments > form > *:nth-child(2),
#comments > form > *:nth-child(3) {
    height: 3rem;
}
#comments > form > button {
    width: min-content;
}
#comments > form > textarea {
    margin-right: .5rem;
}
.comments-container {
}
.comment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 1px 1px 2px 2px rgba(50, 50, 50, .2);
    row-gap: .5rem;
    padding: .5rem;
    margin-top: 1rem;
}
.comment > *:nth-child(2) {
    justify-self: flex-end;
}
.comment > .reactions {
    grid-column: 1 / 2;
}