@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1800deg);
  }
}

.buttonContainer {
  height: 50px;
  background-color: var(--main1);
  box-shadow: 0px 2px 4px var(--shadow);
  padding: .5em 1em;
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid var(--main);
  border-radius: 5;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonContainer:hover {
  background-color: var(--main3);
}
.buttonContainer > .icon {
  font-size: 1.2rem;
}
.buttonContainer > .iconSpace {
  margin-right: .5em;
}
.buttonIconLoading {
  animation: spin infinite 5s linear;
}