.container {
  display: flex;
}
.column {
  flex-direction: column;
}
.verticalCentered {
  align-items: center;
  align-content: center;
}
.horizontalCentered {
  justify-items: center;
  justify-content: center;
}