.container {
  width: 20vw;
  position: relative;
  background-color: var(--main5);
  border-radius: 5px;
  padding-bottom: 1em;
  box-shadow: 0px 2px 4px var(--shadow);
}
.imageContainer {
  padding: .5em;
  width: inherit;
  align-items: center;
}
.imageContainer p {
  padding-left: 1em;
}
.levelContainer {
  padding: .5em;
  padding-bottom: 1em;
}
.tabsContainer {
  width: inherit;
}
.tabsContainer > * {
  margin: 0;
  margin-bottom: .2em;
}
.levelBar {
  position: relative;
  align-items: center;
  justify-content: center;
}
.levelBar > meter {
  height: 2em;
  width: 100%;
}
.levelBarPoints {
  position: absolute;
  z-index: 1;
  font-weight: 700;
  color: var(--main2);
  font-size: .8em;
}